.gameWon{
  height: 30%;
  width: 30%;
  background-color: yellowgreen;
  border: 2px solid black;
  border-radius: 46px;
  top: 31%;
  left: 44%;
  position: absolute;
  text-align: center;
  z-index: 1;
}

.resetGame{
  height: 18%;
  width: 43%;
  border: 3px solid black;
  border-radius: 10px;
  background-color: blue;
  position: absolute;
  top: 60%;
  left: 28%;
}
.gameArea {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 60px;
  margin: 5px;
  display: block;
  text-align: center;
}

.card{
  height: 15vmin;
  width: 13vmin;
  margin: 8.33px;
  margin-top: 4vmin;
  margin-bottom: 4vmin;
  position: relative;
}

.container {
  display: flex;

}

.subStats {
  width: 80%;
  margin: 1vmin;
  background-color: lightseagreen;
}

.stats {
  width: 30vmin;
  text-align: center;
}

.border {
  border: 1px solid black;
}

.front {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.back {
  height: 100%;
  width: 100%;
}


body{
  background-color: #e6c059;
}

.frontImg{
  background-image: url("../images/lfz-card.jpg");
}

.cssLogo{
  background-image: url('../images/css-logo.png');
  background-size: cover;
  background-position: center;
}

.dockerLogo{
  background-image: url('../images/docker-logo.jpg');
    background-size: cover;
  background-position: center;
}

.gitHub{
  background-image: url('../images/gitHub-logo.png');
  background-size: cover;
  background-position: center;
}

.htmlLogo{
  background-image: url('../images/html-logo.png');
  background-size: cover;
  background-position: center;
}
.jsLogo{
  background-image: url('../images/js-logo.png');
  background-size: cover;
  background-position: center;
}

.mysqlLogo{
  background-image: url('../images/mysql-logo.jpg');
  background-size: cover;
  background-position: center;
}

.nodeLogo{
  background-image: url('../images/node-logo.png');
  background-size: cover;
  background-position: center;
}

.phpLogo{
  background-image: url('../images/php-logo.jpeg');
  background-size: cover;
  background-position: center;
}

.reactLogo{
  background-image: url('../images/react-logo.png');
  background-size: cover;
  background-position: center;
}

.hidden{
  display: none;
}
