.goal{
  height: 60%;
  width: 60%;
  background-size: cover;
  background-position: center;
  border: 10px solid white;
  border-radius: 46px;
  top: 16%;
  left: 29.5%;
  position: absolute;
  text-align: center;
  z-index: 1;
  font-size: 54px;
}

.goalImg{
  background-image: url('../images/soccer-images/game-won.jpg');
}

.worldCupChamps{
  background-Image: url('../images/soccer-images/worldcupchamps.jpg');
}

.resetGame{
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 11%;
  left: 28%;
  font-size: 30px;
}

.gameArea {
  display: flex;
  justify-content: center;
}

.header {
  font-size: 60px;
  color: yellow;
  margin: 5px;
  display: block;
  text-align: center;
  text-shadow: 2px 2px #000, -2px 2px #000, 2px -2px #000, -2px -2px #000;
}

.statsHeader {
  width: 80%;
  margin: 1vmin;
  background-color: black;
  border: 3px solid white;
  border-radius: 20px;
  color: white;
}

.card{
  height: 15vh;
  width: 13%;
  margin: 10px;
  margin-top: 5%;
  position: relative;

}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vmin;
}

.subStats {
  height: 12%;
  width: 80%;
  margin: 1vmin;
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
}

.subStats1 {
  height: 12%;
  width: 80%;
  margin: 1vmin;
  background-color: black;
  border: 3px solid white;
  color: white;
  border-radius: 20px;
}

.stats {
  width: 30vmin;
  text-align: center;
}

.border {
  border: 3px solid white;
}

.front {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
}

.back {
  height: 100%;
  width: 100%;
}


body{
  background-image: url('../images/soccer-images/penaltykick.jpg');
  background-size: cover;

}

.frontImg{
  background-image: url("../images/soccer-images/barca-crest-1.jpg");
}

.adidas2{
  background-image: url('../images/soccer-images/adidas2-2.jpg');

}

.adidas3{
  background-image: url('../images/soccer-images/adidas3.jpg');

}

.adidas4{
  background-image: url('../images/soccer-images/adidas4.jpg');

}

.nike1{
  background-image: url('../images/soccer-images/nike1.jpg');

}
.nike2{
  background-image: url('../images/soccer-images/nike2.jpg');

}

.nike3{
  background-image: url('../images/soccer-images/nike3.jpg');

}

.puma1{
  background-image: url('../images/soccer-images/puma1.jpg');

}

.puma2{
  background-image: url('../images/soccer-images/puma2.jpg');

}

.puma3{
  background-image: url('../images/soccer-images/puma3.jpg');

}

.ballBackground{
  background-size: cover;
  background-position: center;
  border-radius: 50px;
}

.hidden{
  display: none;
}

.key {
  height: 13vh;
  width: 45vw;
  border-radius: 20px;
  margin: .5%;
  right: 39%;
  position: relative;
  background-color: yellow;
}

.extendBtn {
  background-image: url('../images/soccer-images/classicBall-2.jpg');
  background-size: cover;
  border-radius: 50px;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 87%;
  bottom: 19%;
}

.instructions {
  height: 98%;
  width: 50%;
  position: relative;
  left: 20%;
  font-size: 21px;
  font-family: cursive;
}

.move:hover {
  transform: translate(80%);
  transition: 1s;

}
